@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 235 62% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 180 100% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 235 62% 50%;
    --radius: 0.5rem;
    
    --chart-1: 235 62% 50%;
    --chart-2: 180 100% 35%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 240 6% 98%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 235 62% 30%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 235 62% 95%;
    --sidebar-accent-foreground: 235 62% 20%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 235 62% 50%;
  }
  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 235 72% 70%;
    --primary-foreground: 235 62% 10%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 180 70% 55%;
    --accent-foreground: 180 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 235 72% 60%;

    --chart-1: 235 72% 70%;
    --chart-2: 180 70% 55%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 240 6% 12%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 235 72% 70%;
    --sidebar-primary-foreground: 235 62% 10%;
    --sidebar-accent: 240 6% 18%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 4% 16%;
    --sidebar-ring: 235 72% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
